<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeAliases>
        <typeAlias type="cs6400.struct.Movie" alias="movie"/>
        <typeAlias type="cs6400.struct.Company" alias="company"/>
        <typeAlias type="cs6400.struct.CrewMovieRelated" alias="crew_movie"/>
        <typeAlias type="cs6400.struct.GenreMovieRelated" alias="genre_movie"/>
        <typeAlias type="cs6400.struct.MovieMovieRelated" alias="movie_movie"/>
        <typeAlias type="cs6400.struct.CastMovieRelated" alias="cast_movie"/>
        <typeAlias type="cs6400.struct.CompanyMovieRelated" alias="company_movie"/>
        <typeAlias type="cs6400.struct.CrewCompanyRelated" alias="crew_company"/>
        <typeAlias type="cs6400.struct.GenreCompanyRelated" alias="genre_company"/>
        <typeAlias type="cs6400.struct.MovieCompanyRelated" alias="movie_company" />
        <typeAlias type="cs6400.struct.CastCompanyRelated" alias="cast_company" />
        <typeAlias type="cs6400.struct.CompanyCompanyRelated" alias="company_company"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3308/cs6400" />
                <property name="username" value="root"/>
                <property name="password" value="Xiaoxu433lx!"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper.xml"/>
    </mappers>
</configuration>
